*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #F8FAFC;
    --primary-color: #000000;
    --secondary-color: #4D5562;
    --breakline-color: #D9D9D9;

    --font-bold: 600;
    --fold-medium: 500;

    --font-heading: 2.25rem;
    --font-sub-heading: 1.25rem;
    --font-small: 0.875rem;
}

h1{
    font-family: Poppins;
    font-size: var(--font-heading);
    font-weight: var(--font-bold);
    color: var(--primary-color);
}

h3{
    font-family: Poppins;
    font-size: var(--font-sub-heading);
    font-weight: var(--font-bold);
    color: var(--primary-color);
}

p{
    font-family: Poppins;
    font-size: var(--font-small);
    font-weight: var(--fold-medium);
    color: var(--secondary-color);
}

span{
    font-family: Poppins;
    font-weight: var(--font-bold);
    color: var(--breakline-color);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    gap: 20px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 690px;
    /* align-content: center; */
    gap: 40px;
    text-align: center;
    flex-wrap: wrap;
    /* flex-wrap: wrap; */
    padding-top: 50px;
    padding:50px 10px 10px;
}


.wrapper{
    display: flex;
    max-width: 760px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 20px;
}

.article{
    display: flex;
    flex-direction: row;
    gap: 50px;
    /* flex-wrap:nowrap; */
    padding-bottom: 50px;
}

.article-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    /* flex-grow: 1; */
    flex-wrap: wrap;
}

.article-img{
    display: flex;
    justify-content: center;
    width:160px;
    height: 160px;
    aspect-ratio: 1;
    border-radius: 1rem;
    overflow: hidden;
    /* display: inline-block; */
    flex-shrink: 0;
}

.article-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}